<h2 class="page-head">Overview</h2>
<div class="bx--row">
  <div class="bx--col">
    <div class="box">
      <div class="db-tile">
        <div class="db-tile-head">Fibre power internet</div>
        <div class="db-tile-bottom">
          <span class="price">12€</span>
          <i class="fas fa-globe-europe"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="bx--col">
    <div class="box">
      <div class="db-tile">
        <div class="db-tile-head">NexTV</div>
        <div class="db-tile-bottom">
          <span class="price">14€</span>
          <i class="fas fa-tv"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="bx--col">
    <div class="box">
      <div class="db-tile">
        <div class="db-tile-head">Telephone</div>
        <div class="db-tile-bottom">
          <span class="price">13€</span>
          <i class="fas fa-phone-alt"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="bx--col">
    <div class="box">
      <div class="db-tile">
        <div class="db-tile-head">Mobile & MelitaWiFi</div>
        <div class="db-tile-bottom">
          <span class="price">12€</span>
          <i class="fas fa-wifi"></i>
        </div>
      </div>
    </div>
  </div>
</div>
